<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.task.backend.mapper.DepartmentMapper">

    <resultMap id="BaseResultMap" type="org.task.backend.model.entity.Department">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
    </resultMap>

    <delete id="removeDeptById">
        WITH RECURSIVE SubDepartments AS (
            SELECT id
            FROM department
            WHERE id = #{id}
            UNION ALL
            SELECT d.id
            FROM department d
                     INNER JOIN SubDepartments sd ON d.parent_id = sd.id
        )
        DELETE FROM department
        WHERE id IN (SELECT id FROM SubDepartments);
    </delete>


</mapper>
