<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.task.backend.mapper.StatusMapper">

    <resultMap id="BaseResultMap" type="org.task.backend.model.entity.Status">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="defaultStatus" column="default" jdbcType="TINYINT"/>
    </resultMap>

    <update id="resetDefaultStatus">
        update status set default_Status = 0
    </update>

</mapper>
