<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.task.backend.mapper.TaskNodeMapper">

    <resultMap id="TaskNodeMap" type="org.task.backend.model.entity.TaskNode">
        <id property="id" column="taskNodeId" jdbcType="INTEGER"/>
        <result property="parentTaskId" column="parentTaskId" jdbcType="INTEGER"/>
        <result property="content" column="nodeContent" jdbcType="VARCHAR"/>
        <result property="userId" column="nodeUserId" jdbcType="INTEGER"/>
        <result property="stateId" column="nodeStateId" jdbcType="INTEGER"/>
        <result property="creatorId" column="nodeCreatorId" jdbcType="INTEGER"/>
        <result property="nodeIndex" column="nodeIndex" jdbcType="INTEGER"/>
        <result property="deadLine" column="nodeDeadLine"/>
        <association property="taskState" resultMap="taskStateMap"/>
    </resultMap>

    <resultMap id="taskStateMap" type="org.task.backend.model.entity.TaskState">
        <id property="id" column="nodeStateId" jdbcType="INTEGER"/>
        <result property="name" column="nodeStateName" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getTaskNodes" resultMap="TaskNodeMap">
        SELECT
            task_node.id as taskNodeId,
            task_node.parent_task_id as parentTaskId,
            task_node.content as nodeContent,
            task_node.user_id as nodeUserId,
            task_node.state_id as nodeStateId,
            task_node.creator_id as nodeCreatorId,
            task_node.node_index as nodeIndex,
            task_node.dead_line as nodeDeadLine,
            ts.name as nodeStateName
        FROM task_node
        left join task_state ts on task_node.state_id = ts.id
        WHERE task_node.user_id = #{userId}
    </select>


</mapper>
